<div fxFlex="40%"></div>
<div class="sign-up-component" fxLayout="column" fxLayoutAlign="center center" fxFlex="20%">
    <form class="user-name">
        <mat-form-field>
            <input #username matInput placeholder="User Name" value="User name here">
        </mat-form-field>
    </form>
    <form class="password-field">
        <mat-form-field class="example-full-width">
            <input #pass matInput placeholder="Password" value="Password">
        </mat-form-field>
    </form>
    <button #SignUp (click)="signIn(username.value, pass.value)" mat-button>Sign Up</button>
</div>
<div fxFlex="40%"></div>