
mat-list-item{
    /*border-style: solid;*/
    border-width: .11em;
    border-radius: 2px;
    border-color: grey;
    box-shadow: .1em .1em 2px grey;
}

.save-step{
    align-items: flex-start;
}

.save-script{
    align-items: flex-end;
}