<div fxLayout="column" fxFlex="100%" fxLayoutAlign="end">
    <h1 fxLayoutAlign="center">Script Creator</h1>
    <form fxLayoutAlign="center" class="script-name" fxShow fxHide.xs="true">
        <mat-form-field text-align="center" fxLayoutAlign="center" class="example-full-width">
            <input #scriptName matInput text-align="center" placeholder="Script Name" value="Script_1">
        </mat-form-field>
    </form>
    <mat-list *ngFor="let step of script; let i = index">
        <mat-list-item class="list-item">
            <div fxLayout="row" fxFlex="100%" class="step-item">
                <h2 class="step-name" fxFlex="60%" (click)="playStep(i, transTime.value)">Step {{i}}</h2>
                <!-- <mat-form-field fxFlex="40%"> -->
                <input #transTime class="tran-time" placeholder="Transition" type="number">
                <!-- </mat-form-field> -->
                <!--(change)="setTransitionTime(i, transTime.value)" -->
                <!--<span><input [ngStyle]="{'height':'30px'}" fxFlex="50%" #transTime placeholder="Transition Time" value="10" type="number"></span>-->
            </div>
        </mat-list-item>
    </mat-list>
    <div fxLayout="row">
        <button class="save-step" (click)="getStep()" mat-button>Save Step</button>
        <button style="flex: 1 1 auto;" (click)="playScript()" mat-button>Run Script</button>
        <button class="save-script" (click)="postScript(scriptName.value)" mat-button>Save Script</button>
    </div>
</div>