<div fxLayout="column" fxFlex="100%" fxLayoutAlign="end">
    <h1 fxLayoutAlign="center">Script Creator</h1>
    <form fxLayoutAlign="center" class="script-name" fxShow fxHide.xs="true">
        <mat-form-field text-align="center" fxLayoutAlign="center" class="example-full-width">
            <input #scriptName matInput text-align="center" placeholder="Script Name" value="Script_1">
        </mat-form-field>
    </form>
    <mat-list *ngFor="let step of script; let i = index">
        <mat-list-item>
            <div fxLayout="row" fxFlex="100%">
                <h2 fxFlex="90%" (click)="playStep(i, transTime.value)">Step {{i}}</h2>
                <mat-form-field fxFlex="10%" fxLayoutAlign="end" class="example-full-width">
                    <input matInput #transTime fxLayoutAlign="end" placeholder="Transition Time" value="10" type="number" matTextareaAutosize matAutosizeMinRows="2">
                </mat-form-field>
            </div>
        </mat-list-item>
    </mat-list>
    <div fxLayout="row">
        <button class="save-step" (click)="getStep()" mat-button>Save Step</button>
        <button style="flex: 1 1 auto;" (click)="playScript()" mat-button>Run Script</button>
        <button class="save-script" (click)="postScript(scriptName.value)" mat-button>Save Script</button>
    </div>
</div>