<div fxLayout="row wrap">
    <div class="light_item" fxLayout="column" *ngFor="let light of lights">
        <div fxLayout="column">
            <div fxLayoutAlign="left">{{light.name}}
                <span><mat-slide-toggle (change)="onOffToggle(light)" checked="{{light.is_on}}"></mat-slide-toggle></span>
            </div>
        </div>
        <div class="tableContainer">
            <div fxLayout="row">
                <mat-list>
                    <mat-list-item>
                        <input #colorSlide id="colorSlide" class="slider" (change)="colorChange(light, colorSlide.value)" type="range" min="0" max="65280" value="{{light.hue}}">
                    </mat-list-item>
                    <mat-list-item>
                        <input #satSlide [style.background]="light.satStyle" class="slider" (change)="satChange(light, satSlide.value)" type="range" min="0" max="256" value="{{light.sat}}">
                    </mat-list-item>
                    <mat-list-item>
                        <input #briSlide [ngStyle]="{background: light.briStyle}" class="slider" (change)="briChange(light, briSlide.value)" type="range" min="0" max="256" value="{{light.bri}}">
                    </mat-list-item>
                </mat-list>
            </div>
        </div>
    </div>
</div>