<!--The content below is only a placeholder and can be replaced.-->
<h1>
    Welcome to {{ title }}!
</h1>
<nav>
    <ul>
        <li><a routerLink="lights">Live Updater</a></li>
        <li><a routerLink="script-creator">Script Creator</a></li>
        <li><a routerLink="sign-up">Sign Up</a></li>
        <li><a routerLink="sign-in">Sign In</a></li>
        <li><a routerLink="about">About Page</a></li>
        <li><a routerLink="scripts">Saved Scripts</a></li>
        <li><a routerLink="colorPicker">Color Picker Test</a></li>
    </ul>
</nav>
<router-outlet></router-outlet>